<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../img/webdevico_v2.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Contribution</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="./sign.css">
    <!--

TemplateMo 568 DigiMedia

https://templatemo.com/tm-568-digimedia

-->
</head>

<body>
    <div class="sign-container">
        <h2>Sign Up</h2>
        <!--https://www.w3schools.com/tags/att_form_action.asp document for using action atribute-->
        <form action="">
            <label for="username">Username:</label><br/>
            <input type="text" id="username" name="username"><br><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <label for="password">Retype Password:</label><br>
            <input type="password" id="password_confirmation" name="password_confirmation"><br><br>
            <input type="submit" id="button" value="Sign Up"><br><br>
            <span>Already have an account? <a href="./login">Sign in</a></span>
        </form>
    </div>
</body>